<ion-content [fullscreen]="true" class="ion-padding">
  <div class="conteiner-cadastro">
    <form class="form-cadastro" [formGroup]="cadastro">
      <h2 class="titulo-form">Cadastrar Usuário</h2>

      <ion-note
        slot="error"
        *ngIf="(nome?.dirty || nome?.touched) && nome?.errors"
        color="danger"
      >
        Nome inválido
      </ion-note>
      <ion-item fill="solid" class="ion-margin-bottom">
        <ion-input
          type="Nome"
          formControlName="nome"
          labelPlacement="stacked"
          label="Digite seu nome completo:"
          [clearInput]="true"
        ></ion-input>
      </ion-item>

      <ion-note
        slot="error"
        *ngIf="(email?.dirty || email?.touched) && email?.errors"
        color="danger"
      >
        Email inválido
      </ion-note>
      <ion-item fill="solid" class="ion-margin-bottom">
        <ion-input
          type="email"
          formControlName="email"
          labelPlacement="stacked"
          label="Digite seu E-mail:"
          [clearInput]="true"
        ></ion-input>
      </ion-item>

      <ion-note
        slot="error"
        *ngIf="(cpf?.dirty || cpf?.touched) && cpf?.errors"
        color="danger"
      >
        CPF inválido
      </ion-note>
      <ion-item fill="solid" class="ion-margin-bottom">
        <ion-input
          type="CPF"
          formControlName="cpf"
          labelPlacement="stacked"
          label="CPF:"
          [clearInput]="true"
          maxlength="11"
          placeholder="999.999.999-99"
        ></ion-input>
      </ion-item>

      <ion-note
        slot="error"
        *ngIf="(telefone?.dirty || telefone?.touched) && telefone?.errors"
        color="danger"
      >
        Telefone inválido
      </ion-note>
      <ion-item fill="solid" class="ion-margin-bottom">
        <ion-input
          type="tel"
          label="Telefone:"
          [clearInput]="true"
          labelPlacement="stacked"
          formControlName="telefone"
          placeholder="(99) 99999-9999"
          [maskito]="phoneMask"
          [maskitoElement]="maskPredicate"
          maxlength="15"
        ></ion-input>
      </ion-item>

      <ion-note
        slot="error"
        *ngIf="(password?.dirty || password?.touched) && password?.errors"
        color="danger"
      >
        Senha inválida
      </ion-note>
      <ion-item fill="solid" class="ion-margin-bottom">
        <ion-input
          type="Senha"
          formControlName="password"
          labelPlacement="stacked"
          label="Senha:"
          [clearInput]="true"
          type="password"
        ></ion-input>
      </ion-item>

      <ion-note
        slot="error"
        *ngIf="(passwordConfirm?.dirty || passwordConfirm?.touched) && passwordConfirm?.errors"
        color="danger"
      >
        As senhas não correspondem
      </ion-note>
      <ion-item fill="solid" class="ion-margin-bottom">
        <ion-input
          type="Senha"
          formControlName="passwordConfirm"
          labelPlacement="stacked"
          label="Repita a senha:"
          [clearInput]="true"
          type="password"
        ></ion-input>
      </ion-item>

      <ion-note
        slot="error"
        *ngIf="(cargo?.dirty || cargo?.touched) && cargo?.errors"
        color="danger"
      >
        Selecione um cargo válido
      </ion-note>
      <ion-item>
        <ion-label>Cargo</ion-label>
        <ion-select
          formControlName="cargo"
          placeholder="Selecione um Cargo"
        >
          <ion-select-option
            *ngFor="let cargo of enumCargos"
            [value]="cargo.value"
          >
            {{ cargo.label }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-button
        type="button"
        expand="block"
        color="secondary"
        (click)="Cadastrar()"
        [blocked]="isBlocked"
      >
        Confirmar
      </ion-button>
    </form>
  </div>
</ion-content>
