.conteiner-cadastro{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .titulo-form{
        margin-bottom: 1rem;
    }

    .form-cadastro{
        width: 100%;
        border-radius: 20px;
        background-color: var(--backgroundPrimary);
        padding: 1.5rem;

        ion-item {
            --border-radius: 10px;
        }

        .informations{
            text-align: center;
            font-size: 1rem;

            strong{
                text-decoration: underline;
            }
        }
    }
}