.content-background {
  height: 100vh;  
  width: 100%;
}

.conteiner-perfil{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
}

.form-box {
  background: var(--backgroundPrimary);
  border-radius: 16px;
  padding: 15px;
  width: 95%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.avatar-container {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

.personal-informations, .navigation{
  width: 100%;
}

.profile-avatar {
  width: 100px;
  height: 100px;
  border: 3px solid var(--backgroundSecondary);
  border-radius: 50%;
}

.input-item {
  margin-bottom: 12px;

  ion-label {
    --color: grey;
    font-weight: 600;
  }

  ion-input {
    --color: grey;
    --placeholder-color:white;
  }
}

.button-container {
  margin-top: 16px;
}

ion-button {
  --color: white;
  font-weight: bold;
  border-radius: 8px;
}

ion-list.input-area{
  background-color: transparent;
}  