<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title> Easy Order </ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="conteinerPerfil">
    <div id="conteinerPersonalInfo">
      <img
        src="../../assets/icon/profile.png"
        alt="profile picture"
        id="profilePic"
      />

      <div id="userImutableInformation">
        <h2>Nome: Vinicius</h2>
        <h3>RG: 12.685.354</h3>
        <h3>CPF: 999.999.999-99</h3>
        <h3>Cargo: Desenvolvedor de software</h3>
      </div>
    </div>
    <div id="mutableInformations">
      <ion-list>
        <ion-item>
          <ion-input fill="outline"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input fill="outline"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input fill="outline"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input fill="outline"></ion-input>
        </ion-item>
      </ion-list>
    </div>

    <div class="navegacao">
      <a [routerLink]="['/home']">
        <ion-button class="btnNav">Atualizar</ion-button>
      </a>
      <a [routerLink]="['/home']">
        <ion-button class="btnNav">Sair</ion-button>
      </a>
    </div>
  </div>
</ion-content>
