<ion-content class="content-background">
  <div class="conteiner-perfil">
    <div class="form-box">
      <section class="personal-informations">
        <div class="avatar-container">
          <ion-avatar class="profile-avatar">
            <img src="../../assets/icon/profile.png" alt="Avatar do Usuário" />
          </ion-avatar>
        </div>
  
        <ion-list class="input-area">
          <ion-item class="input-item">
            <ion-label position="stacked">Nome Completo:</ion-label>
            <ion-input [(ngModel)]="perfil.nome" placeholder="Digite seu nome"></ion-input>
          </ion-item>
  
          <ion-item class="input-item">
            <ion-label position="stacked">Email:</ion-label>
            <ion-input [(ngModel)]="perfil.email" type="email" placeholder="exemplo@email.com"></ion-input>
          </ion-item>
  
          <ion-item class="input-item">
            <ion-label position="stacked">CPF:</ion-label>
            <ion-input [(ngModel)]="perfil.cpf" placeholder="000.000.000-00"></ion-input>
          </ion-item>
  
          <ion-item class="input-item">
            <ion-label position="stacked">Telefone:</ion-label>
            <ion-input [(ngModel)]="perfil.telefone" type="tel" placeholder="(00) 00000-0000"></ion-input>
          </ion-item>
  
          <ion-item class="input-item">
            <ion-label position="stacked">Cargo:</ion-label>
            <ion-input [(ngModel)]="perfil.cargo" placeholder="Administrador"></ion-input>
          </ion-item>
        </ion-list>
      </section>

      <section class="navigation">
        <div class="button-container">
          <ion-button expand="block" color="danger">EDITAR PERFIL</ion-button>
        </div>
        <div class="button-container">
          <ion-button expand="block" color="dark" (click)="Voltar()">Voltar</ion-button>
        </div>
      </section>
    </div>
  </div>
</ion-content>

  
  