.conteinerPerfil {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 100%;
}

#conteinerPersonalInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  padding: 10px;
}

#profilePic {
  height: 30vw;
  width: 30vw;
}

#userImutableInformation > * {
  font-size: 1rem;
}

#mutableInformations {
  padding: 1rem;
  width: 100%;

  ion-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 450px;
  }

  ion-input,
  ion-item {
    width: 100%;
  }
}

.navegacao {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
