<div class="comanda-card">
  <div class="card-content">
    <div class="left-column">
      <div class="comanda-number">Mesa: {{ itemComanda.numero }}</div>
      <div class="pedidos-itens">
        <div *ngFor="let item of itemComanda.itens" class="comanda-item">
          {{ item.quantidade }}x {{ item.nome }}
        </div>
      </div>
    </div>

    <div class="right-column">
      <div class="total-container">
        <div class="total-label">Total:</div>
        <div class="total-value">R$ {{ itemComanda.total.toFixed(2).replace('.', ',') }}</div>
      </div>
    </div>
  </div>

  <div class="botoes-container">
    <ion-button 
      class="btn-editar" 
      expand="block" 
      size="medium"
      (click)="editar(itemComanda)" 
    >
      EDITAR
    </ion-button>
    <ion-button 
      class="btn-fechar" 
      expand="block" 
      size="medium"
      (click)="fecharComanda(itemComanda.id)" 
    >
      FECHAR COMANDA
    </ion-button>
  </div>
</div>
