<div class="comanda-card">
  <div class="card-content">
    <div class="left-column">
      <div class="comanda-number">Mesa: {{ itemComanda.id }}</div>
      <div class="pedidos-itens">
        <div *ngFor="let item of itemComanda.itens" class="comanda-item">
          {{ item.quantidade }}x {{ item.nome }}
        </div>
      </div>
    </div>

    <div class="right-column">
      <div class="total-container">
        <div class="total-label">Total:</div>
        <div class="total-value">R$ {{ itemComanda.total.toFixed(2).replace('.', ',') }}</div>
      </div>

      <div class="botoes-container">
        <button class="btn-editar" (click)="editar.emit()">
          <i class="icon-pencil"></i> EDITAR
        </button>
        <button class="btn-fechar" (click)="fechar.emit()">
          FECHAR COMANDA
        </button>
      </div>
    </div>
  </div>
</div>
