<ion-content class="ion-padding" [fullscreen]="true">
  <div class="conteiner-login">
    <img src="../../assets/logo-oficial.png" alt="logo" class="icone-logo">
    <form (ngSubmit)="login()" [formGroup]="credentials" class="form-login">
      
      <h2 class="login-title">Entrar</h2>
      
      <ion-item fill="solid" class="ion-margin-bottom">
        <ion-input 
          type="email" 
          label="Email"
          formControlName="email"
          labelPlacement="stacked"
          [clearInput]="true"
        ></ion-input>
      </ion-item>

      <ion-item fill="solid" class="ion-margin-bottom">
        <ion-input 
          type="password" 
          label="Senha"
          formControlName="password"
          labelPlacement="stacked"
          [clearInput]="true"
        ></ion-input>
      </ion-item> 
      
      <ion-button 
        type="button" 
        expand="block" 
        color="secondary" 
        size="medium"
        (click)="login()" 
        [disabled]="isDisabled"
      >
        Confirmar
      </ion-button>
    </form>
  </div>
</ion-content>