<ion-content class="ion-padding" id="content-login">
  <div class="conteiner-login">
    <img src="../../assets/logo-oficial.png" alt="logo" class="icone-logo">
    <form (ngSubmit)="login()" [formGroup]="credentials" class="form-login">
      
      <h2 class="login-title">Entrar</h2>
      
      <ion-note slot="error" *ngIf="(email?.dirty || email?.touched) && email?.errors">
        Email inválido
      </ion-note>
      <ion-item fill="solid" class="ion-margin-bottom">
        <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
      </ion-item>

      <ion-note slot="error" *ngIf="(password?.dirty || password?.touched) && password?.errors">
        Senhas de seis caracteres
      </ion-note>
      <ion-item fill="solid" class="ion-margin-bottom">
        <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
      </ion-item>
      
      <ion-note id="esqueceu-senha" (click)="register()">esqueceu a senha?</ion-note>

      <ion-button type="button" expand="block" color="secondary" (click)="login()">
        Confirmar
      </ion-button>
    </form>
  </div>
</ion-content>