<section id="conteinerLogin">

  <img src="../../assets/Logo.png" alt="logo do app" class="logoDoApp">

  <form class="formLogin">

    <h2>Entrar</h2>

    <div id="inputs">
      <ion-item class="labelsFormLogin">
        <ion-input label="Login"></ion-input>
      </ion-item>

      <ion-item class="labelsFormLogin">
        <ion-input label="Password" type="password"></ion-input>
      </ion-item>
    </div>

    <div id="esqueciSenha">
      <a [routerLink]="['/home']" class="linkEsqueciMinhaSenha">esqueci minha senha</a>
    </div>

    <div id="navigation">
      <a [routerLink]="['/perfil']">
        <ion-button class="btnNav">Confirmar</ion-button>
      </a>
    </div>
  </form>
</section>
