
:root{
    --backgroundPrimary: #266041;
    --backgroundSecondary: #7C9E64;
    --backgroundTernary: #EBE9D6;

    --colorPrimary: white;
    --secondaryColor: #344CB7;
    --ternaryColor: #577BC1;
    --quaternaryColor: #FFEB00;

    --black: #000000;
    --red: #A31D1D;
}
