
:root{
    --backgroundPrimary: #266041;
    --backgroundSecondary: #7C9E64;
    --backgroundTernary: #EBE9D6;

    --colorPrimary: white;

    --ion-color-primary:  #266041;
    --ion-color-secondary: #7C9E64;
    --ion-color-ternary: #EBE9D6;
}