
:root{
    --backgroundPrimary: black;
    --colorPrimary: white;
    --secondaryColor: #344CB7;
    --ternaryColor: #577BC1;
    --quaternaryColor: #FFEB00;
    --boxFormLogin: #F5EFFF;
    --black: #000000;
    --red: #A31D1D;
    --bannerColor: #17153B;
    --formularioLogin: #1A1A1D;
    --light-grey: #030637;
}
