<app-header title="Cadastro Pedido"/>

<ion-content class="ion-padding" fullscreen="true">
  <div class="conteiner-cadastro">
    <form id="campos-pesquisa">
      
      <ion-select
        class="customSelect"
        label="Selecionar mesa"
        size="large"
        label-placement="floating"
        fill="outline"
        [(ngModel)]="mesaSelecionada"
        name="mesaSelecionada"
      >
        <ion-select-option *ngFor="let mesa of mesas"
          >{{mesa.identificador}}</ion-select-option
        >
      </ion-select>

      <ion-searchbar
        class="customSearchbar"
        placeholder="Buscar produtos"
        (ionChange)="pesquisa($event)"
        fill="outline"
        size="large"
      />

      <span class="filtros">
        <ion-button
          type="button"
          expand="full"
          size="small"
          class="btnFiltro"
          (click)="filtraCategoria('Bebida')"
        >Bebida</ion-button>

        <ion-button
          type="button"
          expand="full"
          size="small"
          class="btnFiltro"
          (click)="filtraCategoria('Promoção')"
        >Promoção</ion-button>

        <ion-button
          type="button"
          expand="full"
          size="small"
          class="btnFiltro"
          (click)="filtraCategoria('Recomendado')"
        >Recomendado</ion-button>

      </span>
    </form>

    <section id="pedido-list">
      <app-card-pedido
        [produtosCardapio]="ProdutosCardapio"
        [produtosFiltrados]="PedidosFiltrados"
      />
    </section>

    <ion-button
      type="button"
      expand="full"
      size="large"
      class="btnFinalizar"
      (click)="finalizarPedido()"
    >Finalizar</ion-button>

  </div>
</ion-content>
