<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Resumo Pedidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <app-card-comanda-item
    *ngFor="let item of itens"
    [itemComanda]="{
      id: item.id,
      numero: item.numero,
      itens: item.itens,
      total: item.total
  }"></app-card-comanda-item>

  <div class="actions">
    <ion-button expand="block" class="centered-button" (click)="Voltar()">
      Voltar
    </ion-button>
  </div>
</ion-content>
