<div class="comanda-card">
  <div class="card-content">
    <div class="left-column">
      <div class="comanda-number">Mesa: {{ pedido?.numero }}</div>
      <div class="pedidos-itens">
          <div *ngFor="let item of pedido.itens" class="comanda-item">
            {{ item?.quantidade }}x {{ item?.nome }}
          </div>
      </div>
    </div>
  </div>
  <ion-button 
    class="btn-fechar" 
    (click)="EditarPedido(pedido?.id)" 
    [disabled]="isDisabled" 
    expand="full"
  >
    Editar Pedido
  </ion-button>
</div>
