.conteiner-links{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
    gap: 5%;

    .icone-logo{
      height: 12rem;
      width: 12rem;
      border-radius: 50%;
    }

    .links{
      display: flex;
      flex-direction: column;
      gap: 10%;
      width: 100%;
    }
}

ion-button {
  --background: var(--backgroundPrimary);

  --border-radius: 5px;
  --border-color: white;
  --color: white;

  --padding-top: 10px;
  --padding-bottom: 10px;
}