<app-header/>

<ion-content class="ion-padding">
  <div class="conteiner-links">

    <img src="../../assets/logo-oficial.png" alt="logo" class="icone-logo">

    <div class="links">
      <ion-button type="button" expand="full" size="large">Abrir Comanda</ion-button>
      <ion-button type="button" expand="full" size="large">Cadastrar Pedido</ion-button>
      <ion-button type="button" expand="full" size="large">Visualizar Pedidos</ion-button>
      <ion-button type="button" expand="full" size="large">Resumo Comanda</ion-button>
    </div>
  </div>
</ion-content>