<app-header title="Home"/>

<ion-content class="ion-padding">
  <div class="conteiner-links">

    <img src="../../assets/logo-oficial.png" alt="logo" class="icone-logo">

    <div class="links">
      <ion-button type="button" expand="full" size="large" (click)="AbrirComanda()">Abrir Comanda</ion-button>
      <ion-button type="button" expand="full" size="large" (click)="CadastrarPedido()">Cadastrar Pedido</ion-button>
      <ion-button type="button" expand="full" size="large" (click)="Visualizar()">Visualizar Pedidos</ion-button>
      <ion-button type="button" expand="full" size="large" (click)="Resumo()">Resumo Comanda</ion-button>
    </div>
  </div>
</ion-content>