<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ionic App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Vinícius Dias Rodrigues <br/> Desenvolvedor Full-Stack</strong>

    <div>
      <ion-button (click)="Login()">Logar</ion-button> 
    </div>

    <ion-icon name="airplane-outline" size="large"></ion-icon>

    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
    <app-floating-button/>
  </div>
</ion-content>
